.mobile-menu__btn {
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 11;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__btn.is-open {
  & .icon-close {
    display: block;
  }
  & .icon-open {
    display: none;
  }
}

.mobile-menu__btn .icon-close {
  display: none;
}
.mobile-menu {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    flex-direction: column;

    z-index: 10;

    padding: 48px 40px;

    background-color: #ffffff;

    &.is-open {
      display: flex;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: 100%;
    align-items: center;
  }
}
.header-sosial {
  @media screen and (min-width: 767px) {
    display: none;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-sosial__item {
  &:not(:nth-child(1)) {
    padding-left: 5px;
  }
  &:not(:last-child) {
    padding-right: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.header-sosial__link {
  @include navlink(18px, 22px, #{$select-cl});
}
