.mobile-menu__btn {
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 5;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__btn.is-open {
  & .icon-close {
    display: block;
  }
  & .icon-open {
    display: none;
  }
}

.mobile-menu__btn .icon-close {
  display: none;
}
.mobile-menu {
  /* display: none; */
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;

    padding: 48px 83px 48px 40px;
    background-color: #ffffff;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: 100%;
    align-items: center;
  }
}
.header-sosial {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: flex;
  flex-direction: row;
}
.header-sosial__item {
  &:not(:nth-child(1)) {
    padding-left: 5px;
  }
  &:not(:last-child) {
    padding-right: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.header-sosial__link {
  @include navlink(18px, 22px, #{$select-cl});
}
