.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;

  @media screen and (max-width: 767px) {
    max-width: 326px;
    justify-content: flex-start;
  }
}
.filter__item {
  &:nth-child(-n + 3) {
    @media screen and (max-width: 767px) {
      margin-bottom: 7px;
    }
  }
}
.filter__btn {
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-txt-cl;

  background-color: $light-bg-cl;
  border-style: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: $select-cl;
    cursor: pointer;
    color: #ffffff;
  }
}

//Card-set

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: $card-set-gap;
}

.card-set__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - #{card-set-gap});
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - #{card-set-gap});
  }
}
.card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: $main-txt-cl;
}

.card__img {
  max-width: 450px;
  height: 294px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
.card__desc {
  line-height: calc(30 / 16);
  text-align: left;
  color: $accent-txt-cl;
}
.card__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card:hover &,
  .card:focus & {
    transform: translateY(0);
  }
}

.overlay__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: #ffffff;
}
